##
## directory
##
.cache
.nvim

##
## extension
##
*.bak*
*.dump
*Zone.Identifier

##
## file: include
##
/test/*/main*
/tests/*/main*
/tests/**
/nvim-pack-lock.json
/options.json

##
## file: exclude
##

